1. Write a program to create a function show_employee() using the following conditions.
It should accept the employeeâ€™s name and salary and display both.
If the salary is missing in the function call then assign default value 9000 to salary

In [1]:
def show_Employee(name,salary=9000):
    print("Name :", name ,"Salary :",salary)

result1=show_Employee("akshay",12000)
result2=show_Employee("amal")

Name : akshay Salary : 12000
Name : amal Salary : 9000

2. Create an inner function to calculate the addition in the following way
Create an outer function that will accept two parameters, a and b
Create an inner function inside an outer function that will calculate the addition of a and b
At last, an outer function will add 5 into addition and return it

In [7]:
def outsum(x,y):
    def innsum(a,b):
      return a+b

    sum_a =innsum(x,y)
    se_sum = sum_a +5
    return se_sum
result =outsum(3,7)
print(result)

15

3. Generate a Python list of all the even numbers between 4 to 30

In [8]:
q=[]
for a in range(4,31):
    if a%2==0:
        q.append(a)
print(q)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

4. lambda Function to Check if value is in a List

In [10]:
value=[1,2,3,4,5]
v=int(input("enter the number"))
chek=lambda value ,v:True if v in value else False
if chek(value,v):
    print("The element is present")
else:
    print("The element is not present")

enter the number9
The element is not present

5. Sort list of tuples with their sum

In [11]:
points = [(1, 2), (5, 3), (0, 7), (3, 1)]
sumpoints=0
q=[]
for i in points:
    a,b=i
    sumpoints=a+b
    q.append(sumpoints)
    q.sort()
print(q)

[3, 4, 7, 8]

6. Write a python function, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. Return the results as a list

In [12]:
l1=[]
for i in range (1000,3001):
    digits=[int(digit)for digit in str(i)]
    if all (digit%2==0 and digit!=0 for digit in digits):
        l1.append(i)
print(l1)

[2222, 2224, 2226, 2228, 2242, 2244, 2246, 2248, 2262, 2264, 2266, 2268, 2282, 2284, 2286, 2288, 2422, 2424, 2426, 2428, 2442, 2444, 2446, 2448, 2462, 2464, 2466, 2468, 2482, 2484, 2486, 2488, 2622, 2624, 2626, 2628, 2642, 2644, 2646, 2648, 2662, 2664, 2666, 2668, 2682, 2684, 2686, 2688, 2822, 2824, 2826, 2828, 2842, 2844, 2846, 2848, 2862, 2864, 2866, 2868, 2882, 2884, 2886, 2888]

7. Write a python function that accepts a sentence and calculate and return the number of letters and digits.
Suppose the following input is supplied to the program:
hello world! 123
Then, the output should be:
LETTERS 10
DIGITS 3

In [17]:
l2=[]
s1=input("enter a string :")
for i in s1:
    if i.isnumeric():
        l2.append(i)
l2
print(len(l2))
l3=[]
for i in s1:
    if i.isupper():
        l3.append(i)
l3
print(len(l3))

enter a string :AKSHAY848374873
9
6

8. Write a Python program to convert all the characters into uppercase and lowercase and eliminate duplicate letters from a given sequence. Use the map() function

In [24]:
sequence_1 = input("Enter a sentence :")
seq_upp = map(lambda x:x.upper() , sequence_1)
seq_low = map(lambda x: x.lower() , sequence_1)
for i in seq_upp:
    print(i)
print("break")
for a in seq_low:
    print(a)

Enter a sentence :AKShay HAlloo
A
K
S
H
A
Y

H
A
L
L
O
O
break
a
k
s
h
a
y

h
a
l
l
o
o

9. Write a Python program to element wise add two given lists and find the difference between them. Use the map() function

In [25]:
l1=[2,3,4,5,6]
l2=[1,1,1,2,2]
result=map(lambda x,y:x-y ,l1,l2)
print(list(result))

[1, 2, 3, 3, 4]

10. Write a Python program to filter the height and weight of students, which are stored in a dictionary using lambda.
Original Dictionary:
{'Cierra Vega': (6.2, 71), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}
Height> 6ft and Weight> 70kg:
{'Cierra Vega': (6.2, 71)}

In [26]:
dictionary_1 = {'Cierra Vega': (6.2, 71), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}
dictionary_2 = filter(lambda i:dictionary_1[i][0]>6 and dictionary_1[i][1]>70 , dictionary_1)
for i in dictionary_2:
    print({i:dictionary_1[i]})

{'Cierra Vega': (6.2, 71)}

11. Write a Python program to remove all elements from a given list present in another list using lambda.
Original lists:
list1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2: [2, 4, 6, 8]
Remove all elements from 'list1' present in 'list2:
[1, 3, 5, 7, 9, 10]

In [27]:
list_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_2 = [2, 4, 6, 8]
list_3 = filter(lambda x: x not in list_2,list_1)
list(list_3)

[1, 3, 5, 7, 9, 10]

12.

Write a Python program to calculate the product of a given list of numbers using lambda.
list1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Product of the said list numbers:
3628800

In [28]:
from functools import reduce
list_1=[1,2,3,4,5,6,7,8,9,10]
result=reduce(lambda a,b:a*b,list_1)
print(result)

3628800

13. Write a Python program to multiply all the numbers in a given list using lambda.
Original list:
[4, 3, 2, 2, -1, 18]
Mmultiply all the numbers of the said list: -864

In [29]:
lis=[4, 3, 2, 2, -1, 18]
def product(x,y):
    return x*y
r1=reduce(product,lis)
print(r1)

-864

14. Write a Python program to calculate the average value of the numbers in a given tuple of tuples using lambda.
Original Tuple:
((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))
Average value of the numbers of the said tuple of tuples:
(30.5, 34.25, 27.0)

In [31]:
from functools import reduce
t1 = ((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))
for i in t1:
    list[i]
    print(i)
    f=reduce(lambda a,b:a+b,i)
    print(f/3)

(10, 10, 10)
10.0
(30, 45, 56)
43.666666666666664
(81, 80, 39)
66.66666666666667
(1, 2, 3)
2.0

15. Write a Python program to sort a given mixed list of integers and strings using lambda. Numbers must be sorted before strings.
Original list:
[19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]
Sort the said mixed list of integers and strings:
[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

In [33]:
list1=[19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]
strlist=[]
numlist=[]
strlist = list(filter(lambda x: isinstance(x, str), list1))
numlist = list(filter(lambda x: isinstance(x, (int)), list1))
numlist.sort()
strlist.sort()
print(numlist+strlist)

[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

16. Write a Python program to count the occurrences of items in a given list using lambda.
Original list:
[3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]
Count the occurrences of the items in the said list:
{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

In [34]:
list1=[3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]
dic = dict(map(lambda x: (x, list1.count(x)), set(list1)))
print(dic)

{0: 2, 1: 1, 2: 2, 3: 4, 4: 2, 5: 3, 8: 2}

17. Write a Python program to remove None values from a given list using the lambda function.
Original list:
[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
Remove None value from the said list:
[12, 0, 23, -55, 234, 89, 0, 6, -12]

In [35]:
list_a = [12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
list_r = list(filter(lambda x: x is not None, list_a))
list_r

[12, 0, 23, -55, 234, 89, 0, 6, -12]