1. Write a Python program to sum all the items in a list.

In [ ]:
a=[1,2,3,4,6,5,5,7,8,9]
sum=0
for i in a:
    sum=sum+i
print("sum of the elements in the list is:",sum)

sum of the elements in the list is: 50

2.  Write a Python program to get the largest number from a list.

In [ ]:
q1=[200,300.299,322,434,499,486,99]
q=max(q1)
print(q)

499

3. Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2

In [ ]:
v=['lalu','2332','noon','kannur','sasi','jishnu']
print(v)

len(v)

['lalu', '2332', 'noon', 'kannur', 'sasi', 'jishnu']

6

4. Write a Python program to remove duplicates from a list.

In [ ]:
uniq_items=[]
dup_items = ()
a=[22,23,25,22,22,26,28,20,23]
print(a)

[22, 23, 25, 22, 22, 26, 28, 20, 23]
[22, 23, 25, 22, 22, 26, 28, 20, 23]

5. Write a Python program to check if a list is empty or not.

In [1]:
l = []

# Check if the list 'l' is empty using the 'not' keyword
if not l:
    # If the list is empty, print the message "List is empty"
    print("List is empty")

List is empty

6. Write a Python program to filter the list if the length of the character is < 4
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result: ['abc', 'xyz', 'aba']

In [55]:
sample_list = ['abc', 'xyz', 'aba', '1221']

filtered_list = [item for item in sample_list if len(item) < 4]

print("Original List:", sample_list)
print("Filtered List:", filtered_list)

Original List: ['abc', 'xyz', 'aba', '1221']
Filtered List: ['abc', 'xyz', 'aba']

7. Write a Python program to find the second largest number in a list.

In [4]:
list1 = [10, 20, 20, 4, 45,55,60,8,11]

list1.sort()

# Printing the second last element
print("Second largest element is:", list1[-2])

Second largest element is: 55

8. Write a Python program to reverse a list at a specific location.

In [11]:
a3=["mumbai","chenni","kochi","banglore","hydrabad","delhi","agra"]
print(a3)
a3.reverse()
print(a3)

['mumbai', 'chenni', 'kochi', 'banglore', 'hydrabad', 'delhi', 'agra']
['agra', 'delhi', 'hydrabad', 'banglore', 'kochi', 'chenni', 'mumbai']

9. Write a Python program to check if a list is a palindrome or not. Return true otherwise false.

In [38]:
p_list1 = [1,1,2,1,1]
p1=p_list1[::-1]
if p1==p_list1 :
  print("This list is palindrome ")
else:
  print("This list is not palindrome ")

This list is palindrome

In [40]:
p2=["radar","apple","mango","civic","rotor","race","racecar"]
for i in p2:
  if i==i[::-1]:
    print("True")
  else:
    print("False")

True
False
False
True
True
False
True

10. Write a Python a program to find the union and intersection of two lists

In [44]:
list_1= [1,2,3,4]
list_2 =[3,4,5,6]
list_3=[]
l=list_1+list_2
print("The union of the list is :",l)
for x in list_1:
  for y in list_2:
    if x==y:
      list_3.append(x)
print("The intersection of two list is :",list_3)

The union of the list is : [1, 2, 3, 4, 3, 4, 5, 6]
The intersection of two list is : [3, 4]

11. Write a Python script to sort (ascending and descending) a dictionary by value

In [54]:
fruit = {'apple': 30, 'banana': 20, 'cherry': 40, 'date': 10}
print("original dictionary :",fruit)
#fruit.sorted()
fruit_ascended = dict(sorted(fruit.items(),key = lambda item : item[1]))
fruit_descended = dict(sorted(fruit.items(),key = lambda item : item[1],reverse=True))
print("ascended list :",fruit_ascended)
print("descended list :",fruit_descended)

original dictionary : {'apple': 30, 'banana': 20, 'cherry': 40, 'date': 10}
ascended list : {'date': 10, 'banana': 20, 'apple': 30, 'cherry': 40}
descended list : {'cherry': 40, 'apple': 30, 'banana': 20, 'date': 10}

12. Write a Python script to check whether a given key already exists in a dictionary.

In [ ]:
vayanad={'tiger':'5', 'lion':'6' , 'elephent':'19' , 'cheeta': '20', 'monkey':'1000'}
print(vayanad)

name=input("enter the name ")
for i  in vayanad:
    name==i
print("this key exitsts in this dictionary:", name)

{'tiger': '5', 'lion': '6', 'elephent': '19', 'cheeta': '20', 'monkey': '1000'}
enter the name lion
this key exitsts in this dictionary: lion

13. Write a Python program to sum all the values in a dictionary.

In [56]:
vayanad={'tiger':'5', 'lion':'6' , 'elephent':'19' , 'cheeta': '20', 'monkey':'1000'}
print(vayanad)
sum=0
for i in vayanad:
    sum=sum+int(vayanad[i])
print(sum)
type(vayanad[i])

{'tiger': '5', 'lion': '6', 'elephent': '19', 'cheeta': '20', 'monkey': '1000'}
1050

str

14. Write a Python program to create a dictionary with a number and its corresponding square from 1 to input number. And also check if the input number is less than 10
Eg:
Input : 3
Output : {1:1, 2:4, 3:9}

In [ ]:
k1=int(input("enter the number "))
if k1<10:
    k3={k1:k1**2 for k1 in range(k1)}
    print(k3)
else:
    print("the number is greater than 10")

enter the number 3
{0: 0, 1: 1, 2: 4}

15. Write a Python program to sort a given dictionary by key.

In [60]:
az={'akhil':'bike', 'ram': 'auto','abhi':'car'}
sort_az = dict(sorted(az.items()))
print("the sorted dictionary :",sort_az)

the sorted dictionary : {'abhi': 'car', 'akhil': 'bike', 'ram': 'auto'}

16. Write a Python program to create a dictionary from a string.
Note: Track the count of the letters from the string.
Sample string : 'learnpython'
Expected output: {'l': 1, 'e': 1, 'a': 1, 'r': 1, 'n': 2, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}

In [61]:
ab="transport"
{i:ab.count(i) for i in ab}

{'t': 2, 'r': 2, 'a': 1, 'n': 1, 's': 1, 'p': 1, 'o': 1}

17. Write a Python program to get the top three items in a shop.
Sample data: {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
Expected Output:
item4 55
item1 45.5
item3 41.3

In [62]:

item  = {'item1': 45.50, 'item2': 35, 'item3': 41.30, 'item4': 55, 'item5': 24}

top_item = sorted(item.items(), key=lambda x: x[1], reverse=True)[:3]
print("Top Three Items:")
for item, price in top_item:
    print(f"{item} {price}")

Top Three Items:
item4 55
item1 45.5
item3 41.3